.group-item {
  padding: 12px;
  background: var(--white);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.group-title {
  font-size: var(--body1);
  font-weight: 700;
  color: var(--black);
}

.group-member {
  font-size: var(--label1);
  color: var(--gray-600);
}

.group-settlement {
  font-size: var(--body2);
  color: var(--gray-700);
}

.group-settlement-count {
  color: var(--main-500);
  font-weight: 700;
}
