.group-item {
  padding: 12px;
  background: var(--white);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.group-title {
  font: var(--font-body1-bold);
  color: var(--black);
}

.group-member {
  font: var(--font-label1-regular);
  color: var(--gray-600);
}

.group-settlement {
  font: var(--font-body2-regular);
  color: var(--gray-700);
}

.group-settlement-count {
  color: var(--main-500);
  font: var(--font-body2-regular);
}
