@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  box-sizing: border-box;
}
#root {
  width: 100%;
  max-width: 440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
:root {
  /* Main */
  --main-50: #eff4ff;
  --main-100: #dae6ff;
  --main-200: #bed4ff;
  --main-300: #7babff;
  --main-400: #5d94fd;
  --main-500: #376cfa;
  --main-600: #214cef;
  --main-700: #1937dc;
  --main-800: #1b2fb2;
  --main-900: #161d55;
  --main-950: #000632;

  /* Gray */
  --white: #ffffff;
  --gray-50: #f4f4f4;
  --gray-100: #efefef;
  --gray-200: #dcdcdc;
  --gray-300: #bdbdbd;
  --gray-400: #989898;
  --gray-500: #7c7c7c;
  --gray-600: #656565;
  --gray-700: #525252;
  --gray-800: #464646;
  --gray-900: #3d3d3d;
  --gray-950: #292929;
  --black: #0f0e0e;

  /* Status */
  --positive: #0aaf5a;
  --negative: #df3a3d;
  --warning: #ffa90a;

  /* Shadow */
  --shadow-1: 0 3px 6px rgba(0, 0, 0, 0.2);
  --shadow-2: 0 3px 6px rgba(0, 0, 0, 0.28);

  /* Font */
  --font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  /* Title (700 = Bold) */
  --font-title1: 700 36px/1.3 var(--font-family);
  --font-title2: 700 28px/1.3 var(--font-family);

  /* Header (400 = Regular / 600 = SemiBold) */
  --font-header1: 600 22px/1.4 var(--font-family);
  --font-header2: 600 20px/1.4 var(--font-family);

  /* Body (400 = Regular / 600 = SemiBold) */
  --font-body1-regular: 400 16px/1.5 var(--font-family);
  --font-body1-bold: 600 16px/1.5 var(--font-family);
  --font-body2-regular: 400 15px/1.5 var(--font-family);
  --font-body2-bold: 600 15px/1.5 var(--font-family);

  /* Label (400 = Regular / 600 = SemiBold) */
  --font-label1-regular: 400 13px/1.4 var(--font-family);
  --font-label1-bold: 600 13px/1.4 var(--font-family);
  --font-label2-regular: 400 11px/1.4 var(--font-family);
  --font-label2-bold: 600 11px/1.4 var(--font-family);

  /* Caption (400 = Regular / 600 = SemiBold) */
  --font-caption1-regular: 400 9px/1.3 var(--font-family);
  --font-caption1-bold: 600 9px/1.3 var(--font-family);
}

h1 {
  font: var(--font-title1);
  margin: 0;
}
h2 {
  font: var(--font-title2);
  margin: 0;
}
h3 {
  font: var(--font-header1);
  margin: 0;
}
h4 {
  font: var(--font-header2);
  margin: 0;
}

.body1 {
  font: var(--font-body1-regular);
  margin: 0;
}
.body1-bold {
  font: var(--font-body1-bold);
  margin: 0;
}

.body2 {
  font: var(--font-body2-regular);
  margin: 0;
}
.body2-bold {
  font: var(--font-body2-bold);
  margin: 0;
}

.label1 {
  font: var(--font-label1-regular);
  margin: 0;
}
.label1-bold {
  font: var(--font-label1-bold);
  margin: 0;
}

.label2 {
  font: var(--font-label2-regular);
  margin: 0;
}
.label2-bold {
  font: var(--font-label2-bold);
  margin: 0;
}

.caption1 {
  font: var(--font-caption1-regular);
  margin: 0;
}
.caption1-bold {
  font: var(--font-caption1-bold);
  margin: 0;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background: var(--white);
  box-sizing: border-box;
  padding: 0;
  z-index: 10;
  position: relative;
}

.page {
  flex: 1;
  width: 100%;
  padding: 0;
  overflow-y: auto;
  background: var(--gray-50);
  box-sizing: border-box;
  -ms-overflow-style: none;
}

/* .page::-webkit-scrollbar {
  display: none;
} */

.container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 24px;
  box-sizing: border-box;
  position: relative;
}

section {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: auto;
  height: auto;
  gap: 12px;
}

.main-content {
  flex: 1;
  padding: 16px 20px 90px;
  overflow-y: auto;
}

/* ================= Scroll Bar ================= */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 20px;
  margin-bottom: 80px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-300);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-300);
}

/* ================= Banner ================= */
.hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px 12px 12px;
  box-sizing: border-box;
}

.banner {
  position: relative;
  height: 468px;
  width: 360px;
  background-color: #1c2833;
  background-image: linear-gradient(rgba(28, 40, 51, 0.75), rgba(28, 40, 51, 0.75)), url('https://images.unsplash.com/photo-1436491865332-7a61a109cc05?auto=format&fit=crop&w=600&q=80');
  background-size: cover;
  background-position: center;
  border-radius: 152px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 20px;
  box-sizing: border-box;

  color: white;
  text-align: center;
  margin: 8px;
  overflow: hidden;
}

.banner-text-container {
  margin-bottom: 24px;
}

.banner-date {
  margin-bottom: 8px;

  color: #e0e0e0;
  font-size: 14px;
  font-weight: 500;
}

.banner-title {
  margin: 0 0 8px;

  font-size: 28px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.5px;
}

.banner-subtitle {
  margin: 0;

  color: #ccc;
  font-size: 13px;
}

.plan-button {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 10px 20px;

  border: none;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.9);

  color: #333;
  font-size: 14px;
  font-weight: bold;

  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.plus-icon {
  font-size: 16px;
  font-weight: bold;
}
/* ================= Settlement ================= */

.settlement-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 20px;

  background: white;
  border-radius: 16px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.settlement-text {
  color: #333;
  font-size: 14px;
}

.highlight-text {
  color: #5b86e5;
  font-weight: bold;
}

.settlement-more-button {
  border: none;
  background: none;

  color: #8c8c8c;
  font-size: 13px;

  cursor: pointer;
}
.banner-period {
  margin: 0 0 8px;
  color: #e0e0e0;
  font-size: 15px;
}
