/* ================= Banner ================= */
.hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px 12px 12px;
  box-sizing: border-box;
}

.banner {
  position: relative;
  height: 468px;
  width: 360px;
  background-color: #1c2833;
  background-image: linear-gradient(rgba(0, 6, 50, 0.7)), url('https://images.unsplash.com/photo-1436491865332-7a61a109cc05?auto=format&fit=crop&w=600&q=80');
  background-size: cover;
  background-position: center;
  border-radius: 152px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 20px;
  box-sizing: border-box;

  color: white;
  text-align: center;

  overflow: hidden;
}

.banner-text-container {
  margin-bottom: 24px;
}

.banner-date {
  margin-bottom: 8px;

  color: var(--gray-50);
  font: var(--font-body1-bold);
}

.banner-title {
  margin: 0 0 8px;
  color: var(--gray-50);
  font: var(--font-title1);
}

.banner-subtitle {
  margin: 0;

  color: var(--gray-50);
  font: var(--font-body1-regular);
}

.plus-icon {
  font-size: 16px;
  font-weight: bold;
}

.banner Button {
  position: absolute;
  bottom: 32px;
}
/* ================= Settlement ================= */

.settlement-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 20px;

  background: white;
  border-radius: 16px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.settlement-text {
  color: #333;
  font-size: 14px;
}

.highlight-text {
  color: #5b86e5;
  font-weight: bold;
}

.settlement-more-button {
  border: none;
  background: none;

  color: #8c8c8c;
  font-size: 13px;

  cursor: pointer;
}
.banner-period {
  margin: 0 0 8px;
  color: #e0e0e0;
  font-size: 15px;
}
