/* 공통 카드 */
.mypage-profile-card,
.mypage-shortcut-card,
.mypage-menu-card {
  background: #fff;
  border-radius: 16px;
  padding: 12px;
}

/* ---------------- 프로필 ---------------- */

.mypage-profile-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-edit-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

/* .profile-edit-btn:hover {
  background: #f7f7f7;
} */

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px 0 12px 0;
}

.profile-name {
  font: var(--font-title2);
  margin-bottom: 4px;
}

.profile-id {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--gray-800);
  font: var(--font-body1-regular);
  margin-bottom: 4px;
}

.profile-id button {
  color: var(--gray-800);
  display: flex;
  align-items: center;

  background: none;
  border: none;
  cursor: pointer;
}

.profile-phone {
  color: var(--gray-500);
  font: var(--font-body1-regular);
  margin-bottom: 4px;
}

/* ---------------- 바로가기 ---------------- */

.mypage-shortcut-card {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 16px 8px;

  background: var(--white);
  border-radius: 16px;
}

.shortcut-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  border: none;
  background: none;
  cursor: default;
}

.shortcut-icon {
  width: 42px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  font-size: 18px;
  color: var(--gray-900);
}

.shortcut-item span:last-child {
  font: var(--font-label1-regular);
  color: var(--gray-950);
}

/* ---------------- 메뉴 ---------------- */

/* .mypage-menu-card {
  padding: 8px 20px;
} */

.menu-item {
  width: 100%;
  height: 52px;

  display: grid;
  grid-template-columns: 28px 1fr 20px;
  align-items: center;

  border: none;
  background: none;

  cursor: pointer;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}

/* .menu-item span:first-child {
  font-size: 18px;
} */

.menu-item span:nth-child(2) {
  text-align: left;
  font: var(--font-label1-regular);
  color: var(--gray-950);
}

/* .menu-item span:last-child {
  text-align: right;
  color: #bdbdbd;
  font-size: 20px;
} */

/* ---------------- 하단 ---------------- */

.mypage-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  margin-top: 8px;
  padding-bottom: 20px;

  font: var(--font-label1-regular);
  color: var(--gray-400);
}

.mypage-footer button {
  border: none;
  background: none;
  padding: 0;

  font: var(--font-label1-regular);
  color: var(--gray-600);
  cursor: pointer;
}

.footer-divider {
  color: var(--gray-200);
}

.mypage-footer button:hover {
  text-decoration: underline;
}
/* 이미지 */
/* .profile-image {
  height: 120px;
  margin: 12px auto 20px;

  display: flex;
  justify-content: center;
  align-items: center;
} */

.profile-image img {
  width: 100%;
  height: 100%;

  object-fit: contain;
  border-radius: 30%;
}
