.recent-transaction {
  background: transparent;

  border-radius: 18px;
  padding: 0;
}

/* 헤더 */
.recent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-header h3 {
  margin: 0;
}

/* 리스트 */
.transaction-list {
  display: flex;
  flex-direction: column;

  background: white;

  border-radius: 16px;

  padding: 12px;
}

/* 한 줄 */
.transaction-item {
  display: flex;

  align-items: center;

  gap: 10px;

  padding: 10px 0;
}

.transaction-item:not(:last-child) {
  border-bottom: 1px solid var(--gray-200);
}

/* 아이콘 */
.transaction-icon {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 40px;
  height: 52px;

  border-radius: 16px;

  font-size: 18px;
}

.transaction-icon.charge {
  background: #5d94fd;
}

.transaction-icon.payment {
  background: #ffa90a;
}

.transaction-icon.settlement {
  background: #089f00;
}

/* 내용 */
.transaction-info {
  flex: 1;

  min-width: 0;
}

.transaction-amount {
  display: flex;

  align-items: center;

  gap: 4px;

  font: var(--font-body2-bold);
}

/* 입금 */
.transaction-amount.plus {
  color: var(--main-500);
}

/* 결제 */
.transaction-amount.minus {
  color: var(--gray-950);
}

.foreign-amount {
  color: var(--gray-500);

  font: var(--font-body2-regular);
}

.transaction-title {
  margin-top: 0px;

  color: var(--gray-500);

  font: var(--font-label1-regular);
}

.transaction-subtitle {
  margin-top: 2px;
  color: var(--gray-300);

  font: var(--font-label2-regular);
}

/* 날짜 */
/* .transaction-date {
  color: #999;

  font-size: 10px;

  white-space: nowrap;
} */

/* 정산 버튼 */
.settlementButton {
  border: 1px solid var(--gray-200);
  background-color: transparent;

  color: var(--gray-600);

  border-radius: 0px;

  padding: 3px 7px;

  font-size: 10px;

  white-space: nowrap;

  cursor: pointer;
}

/* 빈 내역 */
.recent-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 380px;
  padding: 24px 0;
  gap: 8px;
  width: 100%;
  margin-bottom: 24px;
  background: white;

  border-radius: 16px;
}

.empty-icon {
  color: var(--gray-300, #cbd5e1);
}

.recent-empty p {
  margin: 0;
  color: var(--gray-500);
  font: var(--font-body2-regular);
}
