/* 월 선택 */
.top-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.month-selector {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 12px;
}

.month-selector button {
  border: none;

  background: none;

  font-size: 14px;

  color: var(--gray-950);

  cursor: pointer;
}

.month-selector span {
  font: var(--font-body1-bold);
}

/* 필터 버튼 */
.filter-row {
  display: flex;

  gap: 8px;
}

.filter-row button {
  width: auto;
  min-width: 64px;

  padding: 6px 12px;

  border: 1px solid var(--gray-200);

  border-radius: 18px;

  background: var(--white);

  font: var(--font-label2-regular);
  color: var(--gray-600);
  cursor: pointer;
}

.filter-row .selected {
  background: var(--main-400);

  color: var(--white);

  border-color: var(--main-400);
}

/* 날짜 */
.history-date {
  font: var(--font-label1-regular);
  color: var(--gray-600);

  margin-bottom: 4px;
}

/* 거래 카드 */
.history-card {
  background: var(--white);

  border-radius: 18px;

  padding: 12px;
}

/* 거래 한 줄 */
.history-item {
  display: flex;

  align-items: center;

  gap: 10px;

  padding: 10px 0;
}

.history-item:not(:last-child) {
  border-bottom: 1px solid #f3f3f3;
}

/* 아이콘 */
.history-icon {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 40px;
  height: 52px;

  border-radius: 16px;

  font-size: 18px;

  background-color: var(--gray-50);
}

/* 거래 내용 */
.history-info {
  flex: 1;
}

.history-amount {
  display: flex;
  gap: 4px;

  align-items: center;

  font: var(--font-body2-bold);
}

.plus {
  color: var(--main-500);
}

.minus {
  color: var(--gray-950);
}

.foreign {
  color: var(--gray-500);

  font: var(--font-body2-regular);
}

.history-title {
  margin-top: 2px;

  color: var(--gray-500);

  font: var(--font-label1-regular);
}

/* 정산하기 버튼 */
.settlement-btn {
  border: 1px solid var(--gray-200);
  background-color: transparent;

  color: var(--gray-600);

  border-radius: 0px;

  padding: 3px 7px;

  font-size: 10px;

  white-space: nowrap;

  cursor: pointer;
}

/* 내역 없음 */
.empty-history {
  font: var(--font-body1-regular);
  text-align: center;

  padding: 70px 0;

  color: #999;
}
