.wallet-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 16px 8px;

  background: var(--white);
  border-radius: 16px;
}

.wallet-menu button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  border: none;
  background: none;
  cursor: default;
}

.wallet-menu-icon {
  color: var(--gray-900);
}
.wallet-menu span {
  font: var(--font-label1-regular);
  color: var(--gray-950);
}
