.wallet-card {
  padding: 20px;

  background: white;
  border-radius: 16px;
}

.wallet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 12px;
}

.wallet-title {
  margin: 0;

  color: var(--gray-950);
  font: var(--font-header2);
}

.more-button {
  border: none;
  background: none;

  color: var(--gray-600);
  font: var(--font-label2-regular);

  cursor: pointer;
}

.wallet-body {
  margin-bottom: 16px;
}

.balance {
  margin-bottom: 4px;

  color: var(--gray-950);
  font: var(--font-title2);
  font-weight: bold;
}

/* .account-info {
  color: #8c8c8c;
  font-size: 13px;
} */

.wallet-actions {
  display: flex;
  gap: 12px;
}

.charge-button,
.pay-button {
  flex: 1;
  padding: 12px;

  border-radius: 12px;

  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
}

.charge-button {
  background: white;
  border: 1px solid #e0e0e0;
}

.pay-button {
  border: none;
  background: #5b86e5;
  color: white;
}
.wallet-warning {
  margin-top: 6px;

  color: var(--negative);
  font: var(--font-label1-regular);
}
